body{
    margin:  0 ;
    padding: 0 3% ;
   
}
.border-box {
    box-sizing: border-box;
}

.br-100 {
    border-radius: 100%;
}

.db {
    display: block;
}

.dib {
    display: inline-block;
}

.h2 {
    height: 2rem;
}


.projets-section{
    margin-top: 6%;
    text-align: center;
}
.projets-section h2{
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    font-size: 22px}
.projets-section .projets{
    display: flex;
    flex-wrap: wrap; 
    
}
.projets-section .projets .projet{
    max-width: 195px;
    margin-right: 20px;
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
  

}
.projets-section .projets .projet p{
    font-size: small;
    display: flex;
    flex-wrap: wrap;
    
}
.projets-section h2{
    font-family:'Times New Roman', Times, serif;
    text-transform: capitalize;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

ul>li {
    padding: 4px;
    
}

hr {
    border-width: 3px
}

.card {
    padding: 1% 7%
}

.social>i {
    padding: 1%;
    font-size: 20px
}

.social>i:hover {
    color: #1267d6;
    cursor: pointer
}


.heading {
    font-family: 'Titillium Web', sans-serif;
    color: black
}

.divider {
    border-top: 1px solid
}
header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
   
    
}
nav .profile{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
nav .profile img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
nav .profile h4{
    margin-left:10px ;
    font-size:12px ;
}
nav ul{
    display: flex;
    list-style-type: none;
    
}
nav ul li{
    margin-left: 1px;
}

