body{
    margin:  0 ;
    padding: 0 3% ;
   
}
.border-box {
    box-sizing: border-box;
}

.br-100 {
    border-radius: 100%;
}

.db {
    display: block;
}

.dib {
    display: inline-block;
}

.h2 {
    height: 2rem;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.w2 {
    width: 2rem;
}

.w-100 {
    width: 100%;
}

.dark-gray {
    color: #4d4d4f;
}

.mid-gray {
    color: #555;
}

.pa3 {
    padding: 1rem;
}

.mr3 {
    margin-right: 1rem;
}

.mb2 {
    margin-bottom: .5rem;
}

.tc {
    text-align: center;
}

.f6 {
    font-size: .875rem;
}

.v-mid {
    vertical-align: middle;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}

@media screen and (min-width: 60em) {
    .dt-l {
        display: table;
    }

    .dtc-l {
        display: table-cell;
    }

    .w-25-l {
        width: 25%;
    }

    .w-75-l {
        width: 75%;
    }

    .ph5-l {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .mr4-l {
        margin-right: 2rem;
    }

    .mb0-l {
        margin-bottom: 0;
    }

    .tl-l {
        text-align: left;
    }

    .tr-l {
        text-align: right;
    }

    .f5-l {
        font-size: 1rem;
    }
}


.projets-section{
    margin-top: 3%;
    text-align: center;
}
.projets-section h2{
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    font-size: 22px;
    text-decoration: underline;
}
.projets-section .projets{
    display: flex;
    flex-wrap: wrap; 
    
}
.projets-section .projets .projet{
    max-width: 195px;
    margin-right: 20px;
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
  

}
.projets-section .projets .projet p{
    font-size: small;
    display: flex;
    flex-wrap: wrap;
    
}
.projets-section h2{
    font-family:'Times New Roman', Times, serif;
    text-transform: uppercase;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

ul>li {
    padding: 4px;
    
}

hr {
    border-width: 3px
}

.card {
    padding: 1% 7%
}

.social>i {
    padding: 1%;
    font-size: 20px
}

.social>i:hover {
    color: #1267d6;
    cursor: pointer
}


.heading {
    font-family: 'Titillium Web', sans-serif;
    color: black
}

.divider {
    border-top: 1px solid
}
header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
   
    
}
nav .profile{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
nav .profile img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
nav .profile h1{
    margin-left:10px ;
    font-size:12px ;
}
nav ul{
    display: flex;
    list-style-type: none;
    
}
nav ul li{
    margin-left: 1px;
}

